<h2>Create Tag</h2>

<form class='tag-create-form'>

    <dl>


        <dt><label for='tag-create-form-title'>Title:</label></dt>
        <dd><input type='text' id='tag-create-form-title' /></dd>

        <dt><label for='tag-create-form-description'>description:</label></dt>
        <dd><textarea id='tag-create-form-description' /></dd>

        <dt><label for='tag-create-form-slug'>slug:</label></dt>
        <dd><textarea id='tag-create-form-slug' /></dd>

    </dl>

    <input type='submit' id='tag-create-form-submit' value='speichern' />

</form>
