<h2>Create Page</h2>

<form class='page-create-form'>

    <dl>


        <dt><label for='page-create-form-title'>Title:</label></dt>
        <dd><input type='text' id='page-create-form-title' /></dd>

        <dt><label for='page-create-form-description'>description:</label></dt>
        <dd><textarea id='page-create-form-description' /></dd>

        <dt><label for='page-create-form-meta-description'>meta-description:</label></dt>
        <dd><textarea id='page-create-form-meta-description' /></dd>

        <dt><label for='page-create-form-meta-keywords'>meta-keywords:</label></dt>
        <dd><textarea id='page-create-form-meta-keywords' /></dd>

        <dt><label for='page-create-form-content'>content:</label></dt>
        <dd><textarea id='page-create-form-content' /></dd>

    </dl>

    <input type='submit' id='page-create-form-submit' value='speichern' />

</form>
